<launch>

    <arg name="service_name" default="robot_perception"/>

    <arg name="image_ns" default="/usb_camera"/>
    <arg name="depth_ns" default=""/> <!--/camera/aligned_depth_to_color"-->
    <arg name="score" default="0.5"/>
    <arg name="show_vis" default="true"/>
    <arg name="publish_source" default="false"/>
    <arg name="results_ns" default="/robot_results"/>

    <!-- client -->
    <node pkg="rasberry_perception" name="$(anon robot_perception)" type="detection_client.py" output="screen" respawn="true">
        <param name="image_ns" type="str" value="$(arg image_ns)"/>
        <param name="depth_ns" type="str" value="$(arg depth_ns)"/>
        <param name="score" type="double" value="$(arg score)"/>
        <param name="show_vis" type="bool" value="$(arg show_vis)"/>
        <param name="publish_source" type="bool" value="$(arg publish_source)"/>
        <param name="results_ns" type="str" value="$(arg results_ns)"/>
        <param name="service_name" type="str" value="/$(arg service_name)"/>

    </node>
</launch>
